<section class="case-data">
	<div class="heading">
		<h2 class="wp-block-heading">
			<strong>{{ __('CASE FACTS', 'jcore') }}<mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-lilly-color">:</mark>
			</strong>
		</h2>
	</div>
	<div class="data">
		<div class="cli">
			{% for term in terms %}
				{{ term.title }}
			{% endfor %}
			{{dump(terms)}}
			<p class="btnblack">{{ __('CLIENT', 'jcore') }}</p>
		</div>
		<div class="yr">
			<p class="btnblack">{{ __('YEAR', 'jcore') }}</p>
			<p class="btnlilly"></p>
		</div>
		<div class="cost">
			<p class="btnblack">{{ __('COST', 'jcore') }}</p>
			<p class="btnlilly"></p>
		</div>
	</div>
	<div class="linkout">
		{% if post.meta('link_out') %}
			<p class="visitsite">
				<a class="btnblack" href="{{ post.link_out.url }}" target="_blank">{{ __('VISIT SITE', 'jcore') }}</a>
			</p>
		{% endif %}
	</div>
</section>
