<section class="case-data">
	<div class="heading">
		<h2 class="wp-block-heading">
			<strong>{{ __('CASE FACTS', 'jcore') }}<mark style="background-color:rgba(0, 0, 0, 0)"
					class="has-inline-color has-lilly-color">:</mark>
			</strong>
		</h2>
	</div>
	<div class="data">
		{% if customers %}
		<div class="cli">
			<p class="btnblack">{{ __('CLIENT', 'jcore') }}</p>
			{% for customer in customers %}
			<a href="{{ customer.link }}">
				<p class="btnlilly">{{ customer.title }}</p>
			</a>
			{% endfor %}
		</div>
		{% endif %}

		{% if years %}
		<div class="yr">
			<p class="btnblack">{{ __('YEAR', 'jcore') }}</p>
			{% for year in years %}
			<a href="{{ year.link }}">
				<p class="btnlilly">{{ year.title }}</p>
			</a>
			{% endfor %}
		</div>
		{% endif %}

		{% if costs %}
		<div class="cost">
			<p class="btnblack">{{ __('COST', 'jcore') }}</p>
			{% for cost in costs %}
			<a href="{{ cost.link }}">
				<p class="btnlilly">{{ cost.title }}</p>
			</a>
			{% endfor %}
		</div>
		{% endif %}
	</div>
	<div class="linkout">
		{% if post.meta('link_out') %}
		<p class="visitsite">
			<a class="btnblack" href="{{ post.link_out.url }}" target="_blank">{{ __('VISIT SITE', 'jcore') }}</a>
		</p>
		{% endif %}
	</div>
</section>