{# Page footer stuff goes here. #}
<footer class="is-layout-constrained">
	<section id="footer-main" class="footer-main alignwide">
		<div class="logo">
			<div>{{ footer.footer_below_logo.content }}</div>
		</div>
		<div class="left">
			{{ footer.footer_left.content }}
			{% include 'partials/footer-social.twig' %}
		</div>
		<div class="center">
			{{ footer.footer_center.content }}
		</div>
		<div class="right">
			{{ footer.footer_right.content }}
		</div>
	</section>
	<section id="ticker">
		<div class="ticker-content has-white-color has-text-color has-heading-1-font-size">
			<h4>
			WE CODE
			<mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-brand-color">/</mark><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-lilly-color">/</mark>
			WE CREATE
			<mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-brand-color">/</mark><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-lilly-color">/</mark>
			WE CARE
			</h4>
		</div>
		<div class="ticker-content ticker-content-two has-white-color has-text-color has-heading-1-font-size">
			<h4>
			WE CODE
			<mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-brand-color">/</mark><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-lilly-color">/</mark>
			WE CREATE
			<mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-brand-color">/</mark><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-lilly-color">/</mark>
			WE CARE
			</h4>
		</div>
	</section>
	<section id="copyright" class="copyright is-layout-constrained alignfull">
		<div class="info alignwide">{{ footer.footer_copyright.content }}</div>
	</section>
	{% if customizer('site','scroll_to_top') %}
	{% include 'navigation/scroll-to-top.twig' %}
	{% endif %}
</footer>