<ul id="{{ id }}" class="menu menu-{{ level }}">
    {% for item in items %}
		{% set itemId = id ~ "-" ~ item.id %}
		<li id="menu-item-{{ level }}-{{ loop.index }}" class="{{ item.class }}">
			{% if level > 0 and item.link == "#" %}
				{{ item.title }}
			{% else %}
				<a class="menu-link menu-link-{{ level }}" href="{{ item.link }}" target="{{ item.target }}">
				    {{ item.title | shorten }}
				</a>
			{% endif %}
			{% if item.children %}
    			{% if level == 0 %}
             		<button class="toggle" data-jtoggle="#{{ itemId }}" data-class="open" data-group="{{ id }}">
                        <span class="plus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                            <g id="Group_5065" data-name="Group 5065" transform="translate(-5648 -6784)">
                                <path id="Union_50" data-name="Union 50" d="M6.222,16V9.778H0V6.222H6.222V0H9.778V6.222H16V9.778H9.778V16Z" transform="translate(5662 6798)" fill="#151515"/>
                            </g>
                            </svg>
                        </span>
                        <span class="minus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                                <g id="Group_5064" data-name="Group 5064" transform="translate(-5648 -6706)">
                                    <rect id="Rectangle_4694" data-name="Rectangle 4694" width="8" height="4" transform="translate(5666 6726)" fill="#151515"/>
                                </g>
                            </svg>
                        </span>
         			</button>
    			{% endif %}
				{% include "navigation/menu.twig" with { items: item.children, id: itemId, level: level + 1 } only %}
			{% endif %}
		</li>
	{% endfor %}
</ul>
